# Kidney Chronic

###### Problem Statement

a) Identify the factors causing chronic kidney disease 

b) Build a model that can help to determine if a patient is suffering from kidney chronic disease or not

In [78]:

#https://github.com/venkata-sreeram/Chronic-Kidney-Disease-Prediction/blob/main/Python%20Notebooks/Kidney_Disease_Prediction.ipynb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [29]:
df = pd.read_csv('kidneyChronic.csv')
df.head(7)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,60,90,1.015,3,0,?,?,notpresent,notpresent,74,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,68,70,1.01,0,0,?,normal,notpresent,notpresent,100,...,36,?,?,no,no,no,good,no,no,ckd

In [22]:
df_categorical = df.select_dtypes(include = 'object')
df_numbers=df.select_dtypes(include = ['int64','float64' ])
# No column found with Int or Float data type

In [42]:
df.shape

(400, 25)

In [45]:
df_col = list(df.columns)
df_col

['age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wbcc',
 'rbcc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'class']

In [47]:
# Print all columns values count to find the number of missing items in each columns
for col in df_col:
    print(df[col].value_counts())

60    19
65    17
48    12
50    12
55    12
      ..
90     1
27     1
83     1
4      1
79     1
Name: age, Length: 77, dtype: int64
80     116
70     112
60      71
90      53
100     25
?       12
50       5
110      3
140      1
180      1
120      1
Name: bp, dtype: int64
1.02     106
1.01      84
1.025     81
1.015     74
?         47
1.005      7
1.016      1
Name: sg, dtype: int64
0    199
?     46
1     44
2     43
3     43
4     24
5      1
Name: al, dtype: int64
0    290
?     49
2     18
3     14
4     13
1     13
5      3
Name: su, dtype: int64
normal      201
?           152
abnormal     47
Name: rbc, dtype: int64
normal      259
abnormal     76
?            65
Name: pc, dtype: int64
notpresent    354
present        42
?               4
Name: pcc, dtype: int64
notpresent    374
present        22
?               4
Name: ba, dtype: int64
?      44
99     10
93      9
100     9
107     8
       ..
380     1
288     1
84      1
256     1
309     1
Name: bgr, Length: 147, dtype: int64
?      19
46     15
25     13
19     11
40     10
       ..
322     1
162     1
235     1
85      1
165     1
Name: bu, Length: 119, dtype: int64
1.2     40
1.1     24
0.5     23
1       23
0.9     22
        ..
9.2      1
13.8     1
9.7      1
24       1
0.4      1
Name: sc, Length: 85, dtype: int64
?      87
135    40
140    25
141    22
139    21
142    20
138    20
137    19
150    17
136    17
147    13
145    11
146    10
132    10
144     9
131     9
133     8
130     7
134     6
143     4
127     3
124     3
114     2
125     2
120     2
113     2
128     2
122     2
104     1
129     1
115     1
4.5     1
163     1
111     1
126     1
Name: sod, dtype: int64
?      88
3.5    30
5      30
4.9    27
4.7    17
4.8    16
4      14
4.1    14
4.4    14
3.9    14
3.8    14
4.2    14
4.5    13
4.3    12
3.7    12
3.6     8
4.6     7
3.4     5
5.2     5
5.7     4
5.3     4
6.3     3
5.4     3
2.9     3
3.3     3
5.5     3
3.2     3
2.5     2
5.9     2
5.8     2
5.6     2
3       2
6.5     2
7.6     1
39      1
6.4     1
47      1
5.1     1
2.8     1
2.7     1
6.6     1
Name: pot, dtype: int64
?       52
15      16
10.9     8
13.6     7
13       7
        ..
6.8      1
8.5      1
7.3      1
12.8     1
17.6     1
Name: hemo, Length: 116, dtype: int64
?       70
52      21
41      21
48      19
44      19
40      16
43      14
42      13
45      13
36      12
33      12
28      12
50      12
32      12
37      11
34      11
46       9
30       9
29       9
35       9
31       8
24       7
39       7
26       6
38       5
53       4
51       4
49       4
47       4
54       4
25       3
22       3
27       3
19       2
23       2
15       1
21       1
17       1
20       1
\t43     1
18       1
9        1
\t?      1
16       1
14       1
Name: pcv, dtype: int64
?        105
9800      11
6700      10
9600       9
7200       9
        ...
11200      1
19100      1
\t?        1
12300      1
16700      1
Name: wbcc, Length: 93, dtype: int64
?      130
5.2     18
4.5     16
4.9     14
4.7     11
3.9     10
5       10
4.8     10
4.6      9
3.4      9
5.9      8
3.7      8
6.1      8
5.5      8
5.4      7
5.3      7
5.8      7
3.8      7
4.2      6
4.3      6
4        6
5.6      6
5.1      5
6.2      5
6.4      5
5.7      5
6.5      5
4.4      5
3.2      5
4.1      5
6        4
3.6      4
6.3      4
3.3      3
3        3
3.5      3
2.5      2
2.6      2
2.8      2
2.9      2
2.7      2
2.1      2
3.1      2
\t?      1
2.3      1
2.4      1
8        1
Name: rbcc, dtype: int64
no     251
yes    147
?        2
Name: htn, dtype: int64
no       258
yes      134
\tno       3
\tyes      2
?          2
 yes       1
Name: dm, dtype: int64
no      362
yes      34
\tno      2
?         2
Name: cad, dtype: int64
good    317
poor     82
?         1
Name: appet, dtype: int64
no     323
yes     76
?        1
Name: pe, dtype: int64
no     339
yes     60
?        1
Name: ane, dtype: int64
ckd       250
notckd    150
Name: class, dtype: int64

In [75]:
# Checking null values
df.isnull().sum().sum()

0

In [76]:
df.isna().any().sum()

0

In [90]:
df.isna().all().sum()

0

In [89]:
df.isna().any().sum()

0

In [ ]:
df1=df['age'].replace

In [83]:
df['age'].replace('?','NaN',inplace = True)

In [85]:
df['age'].replace('?','NaN',inplace = True)

In [88]:
df['age'].replace('?','Null',inplace = True)

In [ ]:
data['classification'] = data['classification'].replace(['ckd','notckd'], [1,0])

In [61]:
df['class']

0         ckd
1         ckd
2         ckd
3         ckd
4         ckd
        ...
395    notckd
396    notckd
397    notckd
398    notckd
399    notckd
Name: class, Length: 400, dtype: object

In [59]:
df.apply(pd.value_counts)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
\t43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
\t6200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
\t8400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
\t?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
\tno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
notckd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0
notpresent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,354.0,374.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.0,NaN,NaN,NaN
present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,22.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,147.0,134.0,34.0,NaN,76.0,60.0,NaN

In [56]:
df.groupby('age').count()

,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
age,,,,,,,,,,,,,,,,,,,,,
11,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
12,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
14,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
15,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
17,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
82,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
83,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
90,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
XXX,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9